:root {
  --text-color: #002237;
  --text-color-danger: #CC2936;
  --background-color: #fefefe;

  --theme-toggle-dark-display: block;
  --theme-toggle-light-display: none;
}

[data-theme="dark"] {
  --text-color: #d1d0c5;
  --text-color-danger: #DF2935;
  --background-color: #323437;

  --theme-toggle-dark-display: none;
  --theme-toggle-light-display: block;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: ui-monospace, monospace;
  font-size: 24px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#inputText {
  width: 50%;
  text-align: right;
  font-size: 24px;
  font-family: inherit;
  border: none;
  text-indent: 16px;
  color: inherit;
  background: transparent;

  mask-image: linear-gradient(to right, transparent, #000 25%);
  z-index: 0;
}

#inputText:focus {
  outline: none;
}

#inputText:placeholder-shown {
  mask-image: linear-gradient(to right, #000, #000);
}

#inputCountdown {
  width: 50%;
  margin-left: 0.5em;
}

#inputCountdown span {
  font-size: 16px;
  opacity: 0.5;
  color: inherit;
  font-weight: normal;
}

#inputCountdown span.danger {
  color: var(--text-color-danger);
  font-weight: bold;
  opacity: 0.8;
}

#header {
  width: 100vw;
  height: 80px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

#header #logo {
  height: 32px;
  margin-left: 24px;
  line-height: 32px;

  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

#header #spacer {
  flex-grow: 1;
}

#header #buttons {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
}

#header #buttons svg {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  fill: var(--text-color);
  cursor: pointer;
}

#header #buttons svg.themeToggle#dark {
  display: var(--theme-toggle-dark-display);
}

#header #buttons svg.themeToggle#light {
  display: var(--theme-toggle-light-display);
}
